# Sequence Validation Report


## Protein Sequence Validation

Total checked sequences:

19,037


Invalid sequences:

0


Note:
Selenocysteine residues (U) were considered valid amino acids.


## mRNA Sequence Validation

Total checked sequences:

19,037


Invalid sequences:

0


Conclusion:

All protein and mRNA sequences passed validation.
